.shopContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 375px;
  padding: 1.5rem 0;
  overflow: hidden;
  height: 100vh;
}

.searchContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 100%;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-right: 1rem;
  }

  .select {
    min-width: 150px;
    flex: 1;
    max-width: 200px;
  }
}
.productGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  overflow: auto;
  scrollbar-width: none;
}
