.swiperContainer {
  padding: 20px 3px;
  .carouselImage {
    border-radius: 12px;
    width: 104px;
    height: 175px;
    object-fit: cover;
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25);
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #333;
}

.swiper-pagination-bullet-active {
  background: #007bff;
}
