.buyProductContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 375px;
  margin: 58px auto;

  img {
    width: 335px;
    height: 556px;
    border-radius: 10px;
    object-fit: cover;
  }

  .buyContainer {
    display: flex;
    gap: 13px;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: center;

    .productDescription {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        font-size: 14px;
      }
    }

    button {
      margin-left: 13px;
      background-color: #005eff; /* azul forte */
      color: #ffffff; /* texto branco */
      width: 120px;
      height: 40px;
      text-align: center;
      border: none;
      border-radius: 12px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;
    }
  }
}
