.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  margin: 0;
  background-color: #ffffff;

  h1 {
    font-size: 52px;
  }

  span {
    font-size: 19px;
    color: #333;
    margin-top: 17px;
  }

  input {
    width: 334px;
    margin-top: 20px;
    padding: 0.8rem 1rem;
    border-radius: 999px;
    border: none;
    background-color: #f7f7f7;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    font-size: 1rem;
  }

  .loginButton {
    text-align: center;
    width: 335px;
    height: 61px;
    margin-top: 36px;
    border-radius: 12px;
    font-size: 19px;
    font-weight: lighter;
    cursor: pointer;
    color: #f7f7f7;
    background-color: var(--blue-500);
  }

  .loginCancelButton {
    text-align: center;
    width: 335px;
    margin-top: 12px;
    height: 61px;
    border-radius: 12px;
    font-size: 19px;
    font-weight: lighter;
    cursor: pointer;
    background-color: var(--grey-100);
  }
}
