.profileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 375px;
  height: 100vh;
  margin: 0 auto;
  gap: 64px;
  padding: 0 16px;

  .greetingsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h2 {
      font-size: 28px;
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      outline: 4px solid #fff;
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    }
  }

  .ordersContainer {
    width: 100%;

    h2 {
      font-size: 21px;
    }

    .statusButtonsOrder {
      display: flex;
      width: 100%;
      gap: 8px;

      button {
        padding: 8px 18px;
        background-color: var(--blue-200);
        color: var(--blue-500);
        border-radius: 999px;
        text-transform: capitalize;
        margin-top: 12px;
      }

      .hasBadge {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          background-color: #08c514;
          border: 2px solid #fff;
          border-radius: 100%;
          top: -2px;
          right: -4px;
        }
      }
    }
  }

  .shopContainer {
    width: 100%;

    h2 {
      margin-bottom: 30px;
      font-size: 21px;
    }
  }
}
